.header {
    background: #d1e0ed;
    padding: 10px;
}

.search {
    width: 50%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #42aaff;
    border-radius: 20px;
    padding: 5px 10px;
    background: #fff;

    input {
        border: none;
        flex: 1;
        font-size: 16px;

        &:focus {
            outline: none;
        }
    }
}