@mixin flexible () {
    display: flex;
    flex-direction: column;
}

:host {
    height: 100%;
    width: 70%;
    position: absolute;
    z-index: 1000;
    align-self: flex-end;
}

.form {
    background: #ecf3f7;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #d7dce0;
    box-sizing: border-box;

    &__title {
        background: #1a4876;
        color: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        div {
            flex: 1;
        }

        &-name {
            padding-left: 20px;
        }
    }

    form {
        display: flex;
        flex: 1;

        label {
            @include flexible ();
            padding: 20px 0;
            color: #9f9ea7;

            textarea {
                margin-top: 10px;
                resize: none;
            }
        }

        button {
            border-radius: 20px;
            align-self: flex-start;
            padding: 0 40px;
            margin-top: 50px;
            
            &:not([disabled]) {
                color: #fff;
                background: #008cf0;
            }
        }
    }
}

.form__content {
    display: flex;
    flex: 1;
}

.form__content-description {
    padding-top: 10px;
}

.form__content-left {
    padding: 40px 20px;
}

.form__content-right {
    flex: 1;
    border-left: 1px solid #d7dce0;
    padding: 40px 20px;

    h4 {
        padding-top: 20px;
        color: #9f9ea7;
        font-weight: normal;
    }
}

.task-status {
    display: flex;
    align-items: center;
}

.task-status__color {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 10px;
}


