<div class="form" *ngIf="task">
    <div class="form__title">
        <div>
            <span>№ {{task.id}}</span>
            <span class="form__title-name">{{task.name}}</span>
        </div>
        <button mat-icon-button (click)="close.emit()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="form__content">
        <form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()">
            <div class="form__content-left">
                
                <label>
                    Описание:
                    <div class="form__content-description" [innerHTML]="task.description | sanitizeHtml"></div>
                </label> 

                <label>
                    Добавление комментария:
                    <textarea formControlName="comment" rows="8"></textarea>
                </label>
                
                <button mat-raised-button type="submit" [disabled]="!editTaskForm.valid"> Сохранить </button>
                
            </div>
            <div class="form__content-right">
                <h4>Статус</h4>
                <div class="task-status">
                    <div class="task-status__color" [style.background]="statusColor"> </div>
                    <mat-form-field>
                        <mat-select formControlName="statusId" [value]="task.statusId"
                            (selectionChange)="changeStatus($event)">
                            <mat-option *ngFor="let status of statusList" 
                                [value]="status.id">
                            {{status.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <h4>Исполнитель</h4>
                <mat-form-field>
                    <mat-select formControlName="executorId" [value]="task.executorId">
                        <mat-option *ngFor="let executor of executorList" 
                            [value]="executor.id">
                            {{executor.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>
