<div class="menu">
    <div class="logo">
        <img src="/assets/logo.png" alt="">
    </div>
    <nav>
        <a routerLink="/knowledge" routerLinkActive="active-link"><img src="/assets/knowledge.png" alt=""><span>База знаний</span></a>
        <a routerLink="/request" routerLinkActive="active-link"><img src="/assets/request.png" alt=""><span>Заявки</span></a>
        <a routerLink="/employee" routerLinkActive="active-link"><img src="/assets/employee.png" alt=""><span>Сотрудники</span></a>
        <a routerLink="/customer" routerLinkActive="active-link"><img src="/assets/customer.png" alt=""><span>Клиенты</span></a>
        <a routerLink="/assets" routerLinkActive="active-link"><img src="/assets/assets.png" alt=""><span>Активы</span></a>
        <a routerLink="/settings" routerLinkActive="active-link"><img src="/assets/settings.png" alt=""><span>Настройки</span></a>
    </nav>
</div>
