$backgroundColor: #002137;
$textColor: #fff;
$activeLink: #002c49;

@mixin flexible () {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu {
    background: $backgroundColor;
    height: 100%;
    color: $textColor;
}

nav {
    @include flexible ();

    a {
        @include flexible ();
        box-sizing: border-box;
        color: $textColor;
        padding: 15px;
        text-decoration: none;
        width: 100%;

        &:hover {
            background: $activeLink;
        }

        span {
            white-space: nowrap;
        }
    }
}

.logo {
    text-align: center;
    padding: 15px;
}

.active-link {
    background: $activeLink;
}