<div class="app">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <header>
      <app-header></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
