
@mixin flexible () {
    display: flex;
    flex-direction: column;
}

:host {
    height: 100%;
    width: 70%;
    position: absolute;
    z-index: 1000;
    align-self: flex-end;
}

.form {
    background: #ecf3f7;
    width: 100%;
    height: 100%;
    border: 1px solid #d7dce0;
    box-sizing: border-box;

    &__title {
        background: #1a4876;
        color: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    form {
        @include flexible ();
        padding: 40px 20px;

        label {
            @include flexible ();
            padding: 20px 0;
            color: #9f9ea7;

            textarea {
                margin-top: 10px;
                resize: none;
            }
        }

        button {
            border-radius: 20px;
            align-self: flex-start;
            padding: 0 40px;
            margin-top: 50px;
            
            &:not([disabled]) {
                color: #fff;
                background: #008cf0;
            }
        }
    }
}