<div class="form">
    <div class="form__title">
        <span>Новая заявка</span>
        <button mat-icon-button (click)="close.emit()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
        
        <label>
          Название:
          <textarea formControlName="name" rows="4"></textarea>
        </label>
      
        <label>
          Описание:
          <textarea formControlName="description" rows="8"></textarea>
        </label>
        <button mat-raised-button type="submit" [disabled]="!newTaskForm.valid"> Сохранить </button>
      </form>
</div>
