:host {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
}

.mat-elevation-z8 {
    height: 100%;

    tr.element-row:hover {
        background: #777;
        cursor: pointer;
      }

    td {
        padding: 10px;
    }   
}

.task-list {
    flex: 1;
    height: 1px;
    overflow: auto;
}

.add-task-button {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 10px;

    button {
        border-radius: 20px;
        color: #fff;
        background: #008cf0;
    }
}

.status {
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}