<ng-template appRef></ng-template>

<div class="add-task-button">
    <button mat-raised-button (click)="addTask()"> Создать заявку </button>
</div>
<div class="task-list">
    <table mat-table [dataSource]="taskList$ | async" class="mat-elevation-z8">
  
        <!-- ID Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Название </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Status Column -->
        <ng-container matColumnDef="statusName">
            <th mat-header-cell *matHeaderCellDef> Статус </th>
            <td mat-cell *matCellDef="let element">
                <div class="status" [style.background]="element.statusRgb">
                    {{element.statusName}}
                </div> 
            </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="executorName">
            <th mat-header-cell *matHeaderCellDef> Исполнитель </th>
            <td mat-cell *matCellDef="let element"> {{element.executorName}} </td>
        </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" 
            class="element-row"
            (click)="editTask(element)"></tr>
    </table>
</div>
  
  
